$font-color: #E8E8E8;

html {
    height: 100%;
    body {
        background-image: linear-gradient(to bottom right,#7A8CFC, #6473CF);
        margin: 0;
        font-family: 'Raleway',sans-serif;
        letter-spacing: 3px;

        header {
            padding: 2rem 0 2rem;
            width: 100%;
            opacity: 1;
            font-size: 1.1rem;
            color: $font-color;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                margin-left: 81px;
                height: 4.2rem;
            }

            .right-column {
               display: flex;
               margin-right: 81px;

               .menu-item {
                   padding-left: 5rem;
               }
               
               .map-menu {
                   display: flex;
                   
                   .far {
                       margin-right: 0.8rem;
                       font-size: 1.4rem;
                   }
               }
            }
        }
        
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;

            .test {
                background: white;
                position: absolute;
                height: 3px;
                width: 3px;
                // transform: translate3d(165.644287109375px, 174.80142211914062px, 0);
            }

            .map-wrapper {
                height: 100vh;
                width: 100vw;
                position: relative;
                .svg {
                    position: absolute;
                    fill-opacity: 0.7;
                    opacity: 0.7;
                    color: white;

                    path {
                        fill: #F5F5F5;;
                        stroke-width: 0.6;
                        filter: url(#f3);

                    }
                }
                
                .point-wrapper {
                    position: absolute;

                    .ap {
                        height: 0;
                        width: 0;
                        border-radius: 50px;
                        background: #485BFF;
                        border: 3px solid white;
                        transition: opacity 0.5s ease-in-out;
                        transform: scale(0);
                        -webkit-transform: scale(0);
                        opacity: 0;
                        z-index: 3;
                        display: flex;
                        justify-content: center;
                        cursor: pointer;
                        animation: animate 1s;

                        &.initial-active {
                            opacity: 1;
                        }
                        
                        &.active {
                            opacity: 1 !important;
                            transition: opacity 0.3s ease-in-out, z-index 0.5s ease-in-out 1ms !important;
                        }

                        &.not-active {
                            opacity: 0.2 !important;
                            transition: opacity 0.3s ease-in-out, z-index 0.5s ease-in-out 1ms !important;
                        }

                        &.ontop {
                            z-index: 20 !important;
                        }

                        .tooltip {
                            position: absolute;
                            width: 10vw;
                            bottom: calc(100% + 1rem);
                            border-radius: 10px;
                            letter-spacing: 1px;
                            background: white;
                            box-shadow: 1px 3px 11px rgba(0,0,0,0.25);
                            display: flex;
                            flex-direction: column;
                            transition: transform .36s cubic-bezier(.77,0,.175,1) .15s,-webkit-transform .36s cubic-bezier(.77,0,.175,1) .15s;
                            -webkit-transform: translateY(70%) scale(0);
                            transform: translateY(70%) scale(0);

                            &.visible {
                                transform: translateY(0) scale(1);
                            }


                            .tooltip-description {
                                color:  #546CFF;
                                margin: 5% 0 5% 8%;
                                display: flex;
                                flex-direction: column;
                                
                                .desc {
                                    font-size: 0.5rem;
                                }

                                .val {
                                    font-size: 1.1rem;
                                }

                                &:nth-child(2) {
                                    margin-top:0;
                                }
                            }
                            

                            .tooltip-name {
                                position: absolute;
                                box-shadow: 1px 3px 11px rgba(0,0,0,0.17);
                                bottom: 50%;
                                left: 70%;
                                height: 4.5vw;
                                width: 4.5vw;
                                border-radius: 10px;
                                background: #546CFF;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }


                canvas {
                    position: absolute;
                    height: 100vh;
                    width: 100vw;
                    z-index: 2;
                }
            }
        }
    }
}
