$font-color: #E8E8E8;

html {
    height: 100%;
    body {
        background: #28282D;
        margin: 0;
        font-family: 'Mongolian Baiti',sans-serif;
        letter-spacing: 3px;

        header {
            padding: 1.5rem 0 2rem;
            width: 100%;
            height: 2rem;
            opacity: 1;
            font-size: 1.1rem;
            color: $font-color;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                margin-left: 81px;
                height: 2.7rem;
            }
            .right-column {
               display: flex;
               margin-right: 81px;

               div {
                   padding-left: 90px;
               }
            }
        }
        
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;

            .test {
                background: white;
                position: absolute;
                height: 3px;
                width: 3px;
                // transform: translate3d(165.644287109375px, 174.80142211914062px, 0);
            }

            .map-wrapper {
                height: 100vh;
                width: 100vw;
                position: relative;
                .svg {
                    position: absolute;
                    fill-opacity: 0;
                    color: white;
                    filter: invert(65%) sepia(0%) saturate(432%) hue-rotate(139deg) brightness(90%) contrast(90%);

                    path {
                        fill:black;
                        stroke-width: 0.6;
                        stroke: #929292;
                    }
                }

                .ap {
                    width: .8rem;
                    height: .8rem;
                    border-radius: 50px;
                    background: #FAFF81;
                    border: none;
                    box-shadow: 0 0 15px #FAFF81;
                    transition: opacity 0.5s ease-in-out;
                    transform: scale(0);
                    opacity: 0;
                }


                canvas {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
